<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper  
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 
	namespace:必须与对应的接口全类名一致：接口类名和映射名一致，
		即UserMapper.java的类名UserMapper对应于UserMapper.xml的UserMapper
	crud的id:必须与对应接口的某个对应的方法名一致
 -->
<mapper namespace="org.com.cay.mapper.UserMapper">	
	<!-- 使用映射 -->
	<resultMap type="User" id="UserMap">
		<id property="id" column="user_id"/>
		<result property="name" column="user_name"/>
		<result property="birthday" column="user_birthday"/>
		<result property="salary" column="user_salary"/>
	</resultMap>
</mapper>